

.material-button {
    padding: 8px;
    background: transparent;
    position:relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.material-button .value {
    position: relative;
    z-index: 1;
}

.material-button .material {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(211, 211, 211, .2);
    position: absolute;
    z-index: 0;
    animation: .8s bigger forwards;
}

@keyframes bigger {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(10);
    }
}